html 

  body 
    div(style= "text-align: center")
      h1 New candidate was added in your job.

      b Candidate Name: #{candidate.firstName} #{candidate.lastName}
      br
      b Log In to 
        a(href= appURL) Motaka 
        | and see all your job candidates.


      