html 
  title Requests Info 
  //- Bootstrap
  link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
  link(rel="stylesheet", href="/requestsInfo.css")
  body 
    div.app-wrapper 
      //- Header ============================
      div.header 
        div.header-1 Motaka API Requests Info 
        div.header-2 
          form(action="/help") 
            button(type="submit") Main 

      //- Navbar ============================
      div.nav
        form(action="/help/requestsInfo/about" method="get") 
          button(type="submit") About Requests

        form(action="/help/requestsInfo/Grisha" method="get") 
          button(type="submit") Grisha

        form(action="/help/requestsInfo/Mamikon" method="get") 
          button(type="submit") Mamikon

        form(action="/help/requestsInfo/helperRequests" method="get") 
          button(type="submit") Help Requests

      //- Content ============================  
      div.content 
        h4.description= message

        //- ABOUT ==================================================
        if isAboutPage  
          //- BACK URI
          div(style="color: rgba(2, 1, 1, 0.932)").content-data
            div =================================================================================================== 
            div | Back-end URI ==> 
              a(href="https://motaka.herokuapp.com/" style="color: white") https://motaka.herokuapp.com/
            div =================================================================================================== 

          //- NEW DESCRIPTION
          div.content-data If full description is black ==> NEW

          //- AUTHORIZATION
          div.content-data If URI starts with [AUTH] ==> request must contain AUTHORIZATION header

          //- FIELD COMMENT ?
          div.content-data If field comment contain [?] ==> not ready for testing 

          //- FIELD COMMENT !!
          div.content-data If field comment contain [!!] ==> no need to test

          //- DESCRIPTION COMMENT &&
          div.content-data If description ends with [&&] ==> still in progress

          //- GTE and LTE
          div.content-data gte ==> greater than or equal to
          div.content-data lte ==> less than or equal to





        //- Grisha ==================================================
        if isGrishaPage  
          //- ============================ JWT ============================
          div.requestBlockName [ JWT ]

          //- Send refresh token => get new access and refresh                  
          div.content-data  
            div Description ==> Send refresh token and get new access and refresh  
            div Request URI ==> URI/jwt/refresh
            div Request Method ==> 
              span(style="color: black") [POST] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"refreshToken": "eyJhbGci.iLCJpYXQiOjE2NTM.RZnQGg_icRM"
            div }

          //- ============================ Login ============================
          div.requestBlockName [ Login ]

          //- Login to the site                   
          div.content-data  
            div Description ==> Login to the site
            div Request URI ==> URI/login
            div Request Method ==> 
              span(style="color: black") [POST] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"phone": "+374 ** ******"
            div &emsp;&emsp;"password": "********"
            div }

          //- Login with google
          div.content-data  
            div Description ==> Login with google
            div Request URI ==> URI/googleLogin
            div Request Method ==> 
              span(style="color: black") [POST] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"tokenId": "*******"
            div }

            img(src= '/img/GoogleLogin.png' )

          //- Login with facebook
          div.content-data  
            div Description ==> Login with facebook
            div Request URI ==> URI/facebookLogin
            div Request Method ==> 
              span(style="color: black") [POST] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"accessToken": "*******"
            div &emsp;&emsp;"userId": "785256359114348"
            div }

            img(src= '/img/FacebookLogin.png' )

          //- ============================ Register and Forgot Password ============================
          div.requestBlockName [ Register and Forgot Password ]

          //- Register
          div.content-data
            div Description ==> Register to the site
            div Request URI ==> URI/register
            div Request Method ==> 
              span(style="color: black") [POST] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"fistName": "*****" ,
            div &emsp;&emsp;"lastName": "*****" , 
            div &emsp;&emsp;"password": "********" , 
            div &emsp;&emsp;"passwordConfirm": "********" ,
            div &emsp;&emsp;"phone": "+374 ** ******" , 
            div &emsp;&emsp;"email": "*****@mail.ru" ,
            div &emsp;&emsp;"isUser": true ,
            div &emsp;&emsp;"isProvider": false    
            div }
          
          //- Reset new password 	                   
          div.content-data  
            div Description ==> Reset password [forgot password]
            div Request URI ==> URI/reset_password
            div Request Method ==> 
              span(style="color: black") [PATCH] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"phone": "+374 ** ******" , // [!!]
            div &emsp;&emsp;"confirmCode": "******" ,
            div &emsp;&emsp;"password": "********" ,
            div &emsp;&emsp;"passwordConfirm": "********"
            div }

          //- ============================ Verify ============================
          div.requestBlockName [ Verify ]
            
          //- Send code to phone number                
          div.content-data
            div Description ==> Send code to phone number 
            div Request URI ==> URI/send_code_phone
            div Request Method ==> 
              span(style="color: black") [POST] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"phone": "+374 ** ******"
            div }
          
          //- Verify phone
          div.content-data
            div Description ==> Verify phone
            div Request URI ==> URI/verify_phone
            div Request Method ==> 
              span(style="color: black") [POST] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"phone": "+374 ** ******"
            div &emsp;&emsp;"confirmCode": "******"
            div }

          //- Send code to email               
          div.content-data   
            div Description ==> Send code to email 
            div Request URI ==> URI/send_code_email
            div Request Method ==> 
              span(style="color: black") [POST] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"email": "example@mail.ru"
            div }

          //- Verify email
          div.content-data  
            div Description ==> Verify email
            div Request URI ==> URI/verify_email
            div Request Method ==> 
              span(style="color: black") [POST] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"email": "example@mail.ru"
            div &emsp;&emsp;"confirmCode": "******"
            div }

          //- ============================ Select Role ============================
          div.requestBlockName [ Select Role ]

          //- Change active role 
          div.content-data
            div Description ==> Change active role
            div Request URI ==> URI/set_role
            div Request Method ==> 
              span(style="color: black") [POST] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"role": "provider" , 
            div }

            div Request Headers ==> {
            div &emsp;&emsp;"Authorization": "Bearer accessToken" , 
            div }
          
          //- ============================ Jobs ============================
          div.requestBlockName [ Jobs ]

          //- Get job data with ID 
          div.content-data
            div Description ==> Get data about job with ID 
            div Request URI ==> URI/jobs/:jobId
            div Request Method ==> 
              span(style="color: black") [GET] 

            div Request Headers ==> {
            div &emsp;&emsp;"Authorization": "Bearer accessToken" , 
            div }

          //- Create new job                 
          div.content-data
            div Description ==> Create new job 
            div Request URI ==> URI/jobs
            div Request Method ==> 
              span(style="color: black") [POST] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"startDate": "2000-10-21" ,
            div &emsp;&emsp;"startTime": "10:30:00" , 
            div &emsp;&emsp;"duration": 2 , // indicates the job duration in hour
            div &emsp;&emsp;"salary": 19600
            div &emsp;&emsp;"address": "something" , // [?]
            div &emsp;&emsp;"description": "Hi from arpify" ,
            div &emsp;&emsp;"category": "petWalking" ,
            div &emsp;&emsp;"subCategories": ["subCat1", "subCat2"] // [?]
            div }

            div Request Headers ==> {
            div &emsp;&emsp;"Authorization": "Bearer accessToken" , 
            div }

          //- Edit job
          div.content-data 
            div Description ==> Edit job 
            div Request URI ==> URI/jobs/:jobId
            div Request Method ==> 
              span(style="color: black") [PATCH] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"startDate": "2000-10-21" ,
            div &emsp;&emsp;"startTime": "10:30:00" , 
            div &emsp;&emsp;"duration": 2 , // indicates the job duration in hour
            div &emsp;&emsp;"salary": 15600
            div &emsp;&emsp;"address": "something" , // [?]
            div &emsp;&emsp;"description": "Hi from arpify" ,
            div &emsp;&emsp;"category": "petWalking" ,
            div &emsp;&emsp;"subCategories": ["subCat1", "subCat2"] // [?]
            div }

            div Request Headers ==> {
            div &emsp;&emsp;"Authorization": "Bearer accessToken" , 
            div }

          //- Get all jobs from DB with advanced search and pagination 
          div.content-data
            div Description ==> Get all jobs from DB with advanced search and pagination
            div Request URI ==> URI/jobs

            div Request Query ( URI/jobs?key1=value1&k2=v2 ) ==> {
            div &emsp;&emsp;Searching with job salary: salcost[gte]=1000&salcost[lte]=10000
            div &emsp;&emsp;Searching with job category: caties=petWalking,cleaning,repairing
            div &emsp;&emsp;Searching with job startDate: date[gte]=2022-10-25&date[lte]=2023-07-16
            div &emsp;&emsp;Searching with job duration (must be number from '1' to '6' OR '0'. '0' indicates all.): dur=1,3
            div &emsp;&emsp;Pagination (offset) and limit (default: 20, max: 100): offset=20&limit=15
            div }

            div Request Method ==> 
              span(style="color: black") [GET] 
            
            div Request Headers ==> {
            div &emsp;&emsp;"Authorization": "Bearer accessToken" , 
            div }
          
            br
            div(style="color: black")
              div Request Example ==> in postman you can use PARAMS section (below request method)
            
              div &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;==> URI/jobs?offset=20&limit=3&salcost[gte]=10000&salcost[lte]=40000

              div &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;==> URI/jobs?caties=petWalking&date[gte]=2022-10-25&date[lte]=2023-07-16

              div &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;==> URI/jobs?dur=2,6

          //- Add new candidate in job
          div.content-data
            div Description ==> Add new candidate in job [yourself]
            div Request URI ==> URI/jobs/:jobId/candidate

            div Request Method ==> 
              span(style="color: black") [POST] 
            
            div Request Headers ==> {
            div &emsp;&emsp;"Authorization": "Bearer accessToken" , 
            div }

          //- Cancel job
          div.content-data
            div Description ==> Cancel job [set job status 'canceled']
            div Request URI ==> URI/jobs/:jobId

            div Request Method ==> 
              span(style="color: black") [DELETE] 
            
            div Request Headers ==> {
            div &emsp;&emsp;"Authorization": "Bearer accessToken" , 
            div }

          //- ============================ Categories ============================
          div.requestBlockName [ Categories ]

          //- Get all categories 
          div.content-data
            div Description ==> Get all categories
            div Request URI ==> URI/categories
            div Request Method ==> 
              span(style="color: black") [GET]

          //- Get category data with ID 
          div.content-data
            div Description ==> Get data about category with ID 
            div Request URI ==> URI/categories/:categoryId
            div Request Method ==> 
              span(style="color: black") [GET]


          //- ============================ Users ============================
          div.requestBlockName [ Users ]

          //- Get user data with token
          div.content-data
            div Description ==> Get data about user with token 
            div Request URI ==> URI/users/me
            div Request Method ==> 
              span(style="color: black") [GET] 
        
            div Request Headers ==> {
              div &emsp;&emsp;"Authorization": "Bearer accessToken" , 
              div }

          //- Get user data with Id
          div.content-data
            div Description ==> Get data about user with ID 
            div Request URI ==> URI/users/:userId
            div Request Method ==> 
              span(style="color: black") [GET] 











        //- Mamikon ==================================================
        if isMamikonPage                    
          //- Register                
          div.content-data
            div Description ==> Register to the site
            div Request URI ==> URI/register
            div Request Method ==> 
              span(style="color: black") [POST] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"fistName": "*****" ,
            div &emsp;&emsp;"lastName": "*****" , 
            div &emsp;&emsp;"password": "********" , 
            div &emsp;&emsp;"passwordConfirm": "********" ,
            div &emsp;&emsp;"phone": "+374 ** ******" , 
            div &emsp;&emsp;"email": "*****@mail.ru" ,
            div &emsp;&emsp;"isUser": true ,
            div &emsp;&emsp;"isProvider": false    
            div }
          
          //- Phone verification
          div.content-data
            div Description ==> Phone verification 
            div Request URI ==> URI/verify_phone
            div Request Method ==> 
              span(style="color: black") [POST] 

            div Request Body [JSON] ==> {
            div &emsp;&emsp;"phone": "+374 ** ******", // [!!]
            div &emsp;&emsp;"confirmCode": "******" 
            div }

          //- Get all jobs from DB  
          div.content-data
            div Description ==> Get all jobs from DB
            div Request URI ==> URI/jobs
            div Request Method ==> 
              span(style="color: black") [GET] 
            
            div Request Headers ==> {
            div &emsp;&emsp;"Authorization": "Bearer accessToken" , 
            div }

          //- Get user data with ID 
          div.content-data
            div Description ==> Get data about user with ID 
            div Request URI ==> URI/users/:userId
            div Request Method ==> 
              span(style="color: black") [GET] 



        //- Helper Requests ==================================================
        if isHelperRequestsPage  
          //- Delete User                  
          div.content-data  
            div Description ==> Delete user with phone number
            div Request URI ==> URI/help/deleteUser
            div Request Method ==> 
              span(style="color: black") [DELETE] 
            div Request Body [JSON] ==> {
            div &emsp;&emsp;"phone": "+374 ** ******"
            div }

          //- 
            





