body {
  background-color: rgba(2, 1, 1, 0.932);
}

.app-wrapper {
  display: grid;

  grid-template-areas:
    'header header header'
    'nav content content';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 6px;
}

/* Header */
.header {
  grid-area: header;
  background-color: rgba(77, 68, 68, 0.26);
  color: rgba(245, 222, 179, 0.788);

  padding: 14px 14px;
}

.header-1 {
  float: left;
  font-size: 25px;
}

.header-2 {
  float: right;
}

/* Navbar */
.nav {
  grid-area: nav;
  grid-row: 3;
  background-color: rgba(77, 68, 68, 0.26);
  color: wheat;

  text-align: center;
  max-block-size: 190px;
  padding-top: 6px;
  display: block;
}

/* Content */
.content {
  grid-area: content;
  grid-row: 3 / 4;
  display: block;

  background-color: rgba(255, 255, 255, 0.308);
  color: wheat;

  padding: 4px 10px 4px 10px;
}

.div-content {
  background-color: rgba(77, 68, 68, 0.795);
  border: 1px solid wheat;
  padding: 2px;
}

.content-data {
  border: 2px solid rgba(255, 255, 255, 0.308);
  margin: 8px;
  padding: 30px;
  color: white;
  font-size: 18px;
}

/* Buttons */
button {
  width: 180px;
}

/* Descriptions */
.description {
  text-align: center;
  background-color: rgba(77, 68, 68, 0.795);
  border: 1px solid wheat;
  padding: 4px;
}
